<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <title>Berita</title>
</head>

<body style="background-color: black">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/img/Logo Wargani 1.png" alt="" style="width: 170px" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-4">
                        <a class="nav-link" aria-current="page" href="beranda.html">Beranda</a
              >
            </li>
            <li class="nav-item me-4">
              <a class="nav-link active" href="berita.html">Berita</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-4" href="akun.html">Akun</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-light rounded-pill" type="submit">
              <a href="" class="link-light" id="signup">Sign Up</a>
            </button>
                </form>
            </div>
        </div>
    </nav>
    </section>
    </section>
    <section class="text-center">
        <img src="/img/Logo Wargani 1.png" style="width: 170px; padding-top: 122px; padding-bottom: 50px;" alt="" />
        <section>
            <div class="jumbotron text-center mb-0 pb-5" style="background-color: black; color: white">
                <h1 class="display-4 fw-bold fs-1">Teknologi Informasi Universitas Brawijaya kini memiliki klub bola</h1>
                <div class="row mt-4">
                    <div class="col text-right">by anonymous</div>
                    <div class="col text-left">16 November 2021</div>
                </div>
            </div>
            <div class="row">
                <div style="width: 500px margin: auto;">
                    <img src="img/futsal.jpeg" class="card-img-top" alt="..." />
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: white; font-weight: normal">
                        Siapa sangka Teknologi Universitas Brawijaya yang merupakan prodi baru di Fakultas Ilmu Komputer Universitas Brawijaya kini memiliki klub bola! Tahun ini Prodi Teknologi Informasi Univeritas Brawijaya berumur 6 tahun pada tanggal 20 Januari . Selain memiliki
                        klub bola prodi ini juga sudah memiliki tim e-sport.
                    </h3>
                    <section>
                        <div class="jumbotron text-center mb-0 pb-5" style="background-color: black; color: white">
                            <h1 class="display-4 fw-bold fs-1">Teknologi Informasi Football Club</h1>
                            <div class="row">
                                <div style="width: 500px margin: auto;">
                                    <img src="img/futsal.jpeg" class="img-thumbnail" alt="..." />
                                </div>
                            </div>
                            <h5 class="card-title text-justify mt-4" style="color: white; font-weight: normal">
                                Teknologi Informasi kini membentuk klub bola yang diisi oleh mahasiswa dari teknologi informasi itu sendiri, Refano mengaku ide ini muncul dari salah satu temanya yaitu Ferry Setiwan, Mahasiswa Teknologi Informasi banyak juga yang menyukai sepakbola oleh
                                karena itu kami ingin membentuk tim bola agar kami bisa menyalurkan bakat dan hobi kami, begitu pernyataan dari Ferry Setiawan. Banyak hal yang harus dilakukan untuk membentuk sebuah klub bola seperti jadwal rutin bermain,
                                pemilihan pemain inti dan juga tentunya kapten dari klub bola itu sendiri, Teknologi Informasi memilih Zei sebagai kapten klub karena dapat dipercaya untuk membawa klub ke tempat yang lebih baik lagi dan untuk kiper utama
                                nya adalah Gibran, serta untuk pelatih dipercayakan kepada coach Lintang.
                            </h5>
                    </section>
                    <section>
                        <div class="row">
                            <div class="col">
                                <img src="img/futsal2.jpeg" class="img-thumbnail" alt="">
                            </div>
                            <div class="col">
                                <img src="img/futsal3.jpeg" class="img-thumbnail" s alt="">
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="">
                            <h6 class="card-title text-center mt-4" style="color: white; font-weight: normal">
                                Bagaimana menurutmu
                            </h6>
                            <div class="btn-group" role="group" aria-label="">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary"><div><img src="img/Up.png" alt=""></div></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary"><div><img src="img/down.png" alt=""></div></button>
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-title text-center mt-4" style="color: white; font-weight: normal">
                                Bagaimana reaksimu
                            </h6>
                            <div class="row">
                                <div class="col">
                                    <img src="img/Emot1.png" alt="">
                                    <img src="img/Emot2.png" alt="">
                                    <img src="img/Emot3.png" alt="">
                                    <img src="img/Emot4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h5 class="card-title text-center mt-4" style="color: white; font-weight: bolder">
                            Kolom komentar
                        </h5>
                        <form action="">
                            <div class="mb-3">
                                <textarea placeholder="Tulis komentar..." style="resize: both;" type="text" class="form"></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary">Kirim</button>
                        </form>
                    </section>
                    <section>
                        <div class="">
                            <h1 class="card-title text-center mt-4" style="color: white; font-weight: bolder">
                                Mau Mendapatkan Info Olahraga Terkini? Daftar
                            </h1>
                        </div>
                        <form>
                            <div class="row mb-3">
                                <div class="col-sm">
                                    <input placeholder="Masukkan Alamat Email..." style="resize: both;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="col-sm">
                                    <button type="submit" class="btn btn-secondary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </section>
        </section>
        <div class="container text-center" style="width: 300px">
            <div class="row">
                <a href="" class="col" style="color: white">Beranda</a>
                <a href="" class="col" style="color: white">Berita</a>
                <a href="" class="col mb-4" style="color: white">Akun</a>
            </div>
        </div>
        <div class="position-absolute top-120 start-50 translate-middle mt-4">
            <hr style="color: white; height: 3px; size: 10px; width: 1000px" />
        </div>
        <p style="text-align: center; color: white; margin-top: 100px">Wargani</p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>