* {
  font-family: poppins;
}

a:link {
  text-decoration: none;
}
#signup:hover {
  color: black;
}
#input1 {
  color: white;
}
#input2 {
  color: white;
}
#img-jumbotron {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-img-overlay {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 400px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
#title-berita {
  font-size: 100px;
}

a{
  color: white;

}
.link-light::after{
  content: "";
  position: absolute;
  background-color: rgb(0, 255, 0);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.link-light:hover:after{
  width: 100%;
}

.logo-berita{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  #title-berita {
    font-size: 70px;
  }
}
@media screen and (max-width: 600px) {
  #title-berita {
    font-size: 30px;
  }
  #link-berita{
    width: 100vw;
  }
}
/* .container {
  display: grid;
  grid-template-columns: auto 8rem auto;
} */
